ul {
    list-style: none;
    }

body {
    background-color: #FFFFFF;
    color: #757575;
}
:root {
/* цвет заголовков - color: #212121; */

/* цвет параграфов - color: #757575; */

/* акцент - color: #2196F3; */

/* белый - color: #FFFFFF; */

/* черный - color: #000000; */

/* цвет текста контактных данных в футере - color: rgba(255, 255, 255, 0.6); */

/* цвет фона - #2F303A */

/* вторичный цвет фона #F5F4FA */
}